@page
@using cashSpot.Data.Models;
@model cashSpot.Pages.MoneyBookings.CreateModel
@inject cashSpot.Data.CashSpotContext context;

<h4>Einnahme/Ausgabe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MoneyBooking.Description" class="control-label"></label>
                <input asp-for="MoneyBooking.Description" class="form-control" />
                <span asp-validation-for="MoneyBooking.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyBooking.Amount" class="control-label"></label>
                <input asp-for="MoneyBooking.Amount" class="form-control" />
                <span asp-validation-for="MoneyBooking.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyBooking.RecurringInterval" class="control-label"></label>
                <select asp-for="MoneyBooking.RecurringInterval" asp-items="Html.GetEnumSelectList<cashSpot.Data.Models.RecurringInterval>()" class="form-control"></select>
                <span asp-validation-for="MoneyBooking.RecurringInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyBooking.ReccurdingIntervalMultiplier" class="control-label"></label>
                <input asp-for="MoneyBooking.ReccurdingIntervalMultiplier" class="form-control" />
                <span asp-validation-for="MoneyBooking.ReccurdingIntervalMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyBooking.BudgetItem" class="control-label"></label>
                <select class="form-select"  asp-for="MoneyBooking.BudgetItemId" asp-items="@(new SelectList(context.BudgetItem.ToList(), nameof(BudgetItem.Id), nameof(BudgetItem.Name)))">
                    <option value="@null">Keiner</option>
                    </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Passt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zurück zur Übersicht</a>
</div>

